html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #def;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

#description {
    padding-bottom: 0.5rem;
}

button {
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 0.9rem;
}

#action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    /* padding: 0.5rem .6rem 0.5rem 1rem; */
    padding: 0.5rem;
    width: 5rem;
}

#action:hover {
    color: bisque;
    background-color: #333333;
}

#openInIDE {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-color: #333;
    color: #333;
    background-color: transparent;
    padding: 0.5rem;
    opacity: 0.8;
    font-size: 0.8rem;
}

#openInIDE:hover {
  filter: invert(.7);
}

.container {
    max-width: 960px;
    width: 90vw;
    height: calc(100vh - 18rem);
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem auto;
}

/* Sliders */
#mixer {
  align-items: center;
  background: var(--accent-color);
  display: none;
  flex-basis: 20%;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em;
  max-width: 768px;
  margin: 0 auto 1rem auto;
}

.slider-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5em;
  font-size: small;
  font-family: monospace;
}

input[type=range] {
  appearance: none;
  background: transparent;
  height: 10em;
  transform: rotateZ(270deg);
  width: 10em;
}

input[type=range]:hover {
  cursor: grab;
  filter: hue-rotate(180deg); 
}

input[type=range]:active {
  cursor: grabbing;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: white;
  cursor: grab;
  height: 1em;
  width: 1em;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: grab;
  outline: 1px solid #6ABCF8;
}

input[type=range]::-moz-range-thumb {
  appearance: none;
  background: white;
  cursor: grab;
  height: 1em;
  width: 1em;
}

input[type=range]::-moz-range-track {
  cursor: grab;
  outline: 1px solid #6ABCF8;
}

input[type=range]::-ms-thumb {
  appearance: none;
  background: white;
  cursor: grab;
  height: 1em;
  width: 1em;
}

input[type=range]::-ms-track {
  cursor: grab;
  outline: 1px solid #6ABCF8;
}