@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUTS */
/* WEBCHUCK IDE LAYOUT */
#navbar
{
    grid-area: nav;
}

#chuck-bar
{
    grid-area: chuck-bar;
}

#app
{
    display: grid;
    grid-area: app;
    grid-template-columns: minmax(0, 2fr) minmax(0, 5fr) minmax(0, 3fr);
    grid-template-rows: auto 200px auto auto;
    grid-template-areas:
        "file-explorer editor vm-monitor"
        "file-explorer editor vm-monitor"
        "file-explorer editor outputPanel"
        "file-explorer inputPanel outputPanel";
}

#webchuck-ide
{
    display: grid;
    grid-template-rows: minmax(0, 0.5fr) minmax(0, 0.7fr) minmax(0, 8.8fr);
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "chuck-bar"
        "app";
}

/* APP LAYOUT */
#file-explorer
{
    grid-area: file-explorer;
    @apply bg-red-500;
}

#editor
{
    grid-area: editor;
    @apply bg-green-500;
}

#inputPanel
{
    grid-area: inputPanel;
    @apply bg-blue-500;
}

#vm-monitor
{
    grid-area: vm-monitor;
    @apply bg-yellow-500;
}

#outputPanel
{
    grid-area: outputPanel;
    @apply bg-sky-blue-200;
}

/* Animation for entering */
@keyframes enter-transition
{
    from
    {
        transform: scale(0.95);
        opacity: 0;
    }

    to
    {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes leave-transition
{
    from
    {
        transform: scale(1);
        opacity: 1;
    }

    to
    {
        transform: scale(0.95);
        opacity: 0;
    }
}

/* NAVBAR */
.dropdownButton
{
    @apply relative px-2 py-2 mr-1 inline-flex items-center font-semibold rounded hover:text-sky-blue-800 transition focus:outline-none;
}

.dropdown
{
    @apply absolute z-20 bg-white divide-y divide-gray-100 max-h-96 overflow-y-auto rounded-lg shadow-md w-48 dark:bg-gray-700 dark:divide-gray-700 ring-1 ring-black ring-opacity-5 focus:outline-none origin-top-left;
    animation: enter-transition 0.1s ease-in-out forwards;
}

/* CHUCK BAR */
.chuck-button
{
    @apply px-1 mr-2 disabled:opacity-50 focus:outline-none enabled:hover:filter enabled:hover:invert-20 enabled:hover:drop-shadow-lg transition duration-300;
}


/* COMPONENTS */
.divider,
.divider-vert {
  display: block;
  position: relative;
}

.divider[data-content]::after,
.divider-vert[data-content]::after {
  background: #fff;
  color: #bcc3ce;
  content: attr(data-content);
  display: inline-block;
  font-size: .7rem;
  padding: 0 .4rem;
  transform: translateY(-.65rem);
}

.divider {
  border-top: .06rem solid #e1e3e5;
  height: .05rem;
  margin: .4rem 0;
}

.divider[data-content] {
  margin: .8rem 0;
}
