@import "animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* WEBCHUCK IDE LAYOUT */
#navbar {
    grid-area: nav;
    user-select: none;
    -webkit-touch-callout: none;
}

#chuck-bar {
    grid-area: chuck-bar;
    user-select: none;
    -webkit-touch-callout: none;
}

#webchuck-ide {
    display: grid;
    grid-template-rows: 3rem 3.5rem auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "chuck-bar"
        "app";
    overflow: hidden;
}

#app {
    grid-area: app;
    display: grid;
    height: 100%;
    grid-template-areas: "app-left splitV1 app-middle splitV2 app-right";
    grid-template-columns: 2fr 2px 6fr 2px 4fr; /* app column widths */
    grid-template-rows: 100%;
}

/* Mobile Layout */
@media (max-width: 640px) { 
    #webchuck-ide {
        height: 160vh;
    }
    #app {
        @apply px-2 pb-2;
        grid-template-areas: 
            "app-middle" 
            "splitH2" 
            "app-right";
        grid-template-rows: 5fr 2px 5fr;
        grid-template-columns: 100%;
    }
    #chuckBarLeft {
        width: 100%;
    }
    #chuckBarRight {
        display: none;
    }
    #fileToggle {
        pointer-events: none;
    }
}

/* APP LAYOUT */
#splitV1 {
    grid-area: splitV1;
}
#splitV2 {
    grid-area: splitV2;
}
#splitH1 {
    grid-area: splitH1;
}
#splitH2 {
    grid-area: splitH2;
}

#app-left {
    grid-area: app-left;
    min-width: 1rem;
    height: 100%;
    width: 100%;
}
#app-middle {
    grid-area: app-middle;
    min-width: 4rem;
    display: grid;
    grid-template-areas:
        "editorPanel"
        "splitH1"
        "inputPanel";
    grid-template-columns: 100%;
    grid-template-rows: minmax(auto, 1fr) 2px 28px;
    min-width: 64px;
}
#app-right {
    grid-area: app-right;
    min-width: 1rem;
    display: grid;
    grid-template-areas:
        "vm-monitor"
        "splitH2"
        "outputPanel";
    grid-template-columns: 100%;
    grid-template-rows: calc(50% - 2px) 2px 50%;
    height: 100%;
    overflow: none;
}

#fileExplorer {
    @apply bg-red-500 h-full w-full;
}

#editorPanel {
    grid-area: editorPanel;
    overflow: hidden;
}

#inputPanel {
    @apply bg-blue-500;
    grid-area: inputPanel;
}

#vmMonitor {
    grid-area: vm-monitor;
    overflow: auto;
}

#outputPanel {
    grid-area: outputPanel;
}

/* NAVBAR */
.dropdownButton {
    @apply relative px-2 py-2 mr-1 inline-flex items-center font-semibold rounded hover:text-sky-blue-800 transition focus:outline-none;
}

.dropdown {
    @apply absolute z-40 bg-white divide-y divide-gray-100 max-h-96 overflow-y-auto rounded-lg shadow-md dark:bg-dark dark:divide-gray-700 ring-1 ring-black ring-opacity-5 focus:outline-none origin-top-left;
    animation: enter-transition 0.1s ease-in-out forwards;
}

/* CHUCK BAR */
#chuck-bar .chuck-button {
    @apply px-1 mr-2 disabled:opacity-50 focus:outline-none enabled:hover:filter enabled:hover:invert-20 transition duration-300;
}

/* EDITOR */
#monacoEditor {
    /* position: absolute !important; */
    height: 100%;
}

#vimStatus {
    min-width: 64px;
    overflow: hidden;
}

#vimStatus > span > span > input {
    @apply outline-none bg-transparent border-none;
}

/* VM Monitor */
/* table header */
table thead tr th {
    @apply px-4 bg-sky-blue-300 dark:bg-dark;
}

table tbody tr td {
    @apply py-3 px-4 border-b border-sky-blue-700;
}
tr:nth-of-type(even) {
    /* @apply bg-sky-blue-300 dark:bg-dark; */
}

td:nth-child(3) {
    @apply min-w-fit;
}
td:nth-child(4) {
    @apply block text-center align-middle;
}

.removeButton {
    @apply h-7 px-2 m-auto block focus:outline-none hover:filter hover:invert-20 transition duration-300;
}

/* COMPONENTS */
.divider,
.divider-vert {
    display: block;
    position: relative;
}

.divider[data-content]::after,
.divider-vert[data-content]::after {
    background: #fff;
    color: #bcc3ce;
    content: attr(data-content);
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 0.6rem 0 1rem;
    transform: translateY(-0.85rem);
}

.dark .divider[data-content]::after {
    background: #333;
}

.divider {
    border-top: 0.06rem solid #e1e3e5;
    height: 0.05rem;
    margin: 0.4rem 0;
    margin-right: 0.2rem;
}

.divider[data-content] {
    margin: 0.8rem 0.8rem 0.8rem 0;
}

.resizer.hSplit {
    cursor: row-resize;
    position: relative;
    @apply hover:bg-orange hover:transition hover:opacity-100 hover:h-2 hover:-top-1;
}
.hSplit::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    top: -4px;
    height: 8px;
    z-index: 20;
}

.resizer.vSplit {
    cursor: col-resize;
    position: relative;
    @apply hover:bg-orange hover:transition hover:opacity-100 hover:w-2 hover:-left-1 z-30;
}

.vSplit::after {
    display: block;
    content: "";
    height: 100%;
    position: absolute;
    left: -4px;
    width: 8px;
    z-index: 30;
}

.resizer {
    @apply opacity-10 z-10 bg-sky-blue-900 dark:bg-gray-200;
}

@media (max-width: 640px) { 
    .resizer {
        pointer-events: none;
    }
}

.header {
    @apply w-full flex items-center px-1;
}

.header-item {
    @apply text-sm px-2 transition duration-300;
}

.header-text {
    @apply text-dark-5 hover:text-dark-8 dark:text-dark-8 dark:hover:text-sky-blue;
}
