@tailwind base;
@tailwind components;
@tailwind utilities;

/* WEBCHUCK IDE LAYOUT */
#navbar
{
    grid-area: nav;
}

#chuck-bar
{
    grid-area: chuck-bar;
}

#app
{
    grid-area: app;
}

#webchuck-ide
{
    grid-template-rows: minmax(0, 0.5fr) minmax(0, 0.7fr) minmax(0, 8.8fr);
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "chuck-bar"
        "app";
}

/* Animation for entering */
@keyframes enter-transition
{
    from
    {
        transform: scale(0.95);
        opacity: 0;
    }

    to
    {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes leave-transition
{
    from
    {
        transform: scale(1);
        opacity: 1;
    }

    to
    {
        transform: scale(0.95);
        opacity: 0;
    }
}

/* NAVBAR */
.dropdownButton
{
    @apply relative px-2 py-2 mr-1 inline-flex items-center font-semibold rounded hover:text-sky-blue-800 transition focus:outline-none;
}

.dropdown
{
    @apply absolute z-20 bg-white divide-y divide-gray-100 max-h-96 overflow-y-auto rounded-lg shadow-md w-48 dark:bg-gray-700 dark:divide-gray-700 ring-1 ring-black ring-opacity-5 focus:outline-none origin-top-left;
    animation: enter-transition 0.1s ease-in-out forwards;
}

/*
DROPDOWN SAMPLE CODE
<div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" x-ref="menu-items" x-description="Dropdown menu, show/hide based on menu state." x-bind:aria-activedescendant="activeDescendant" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()" @keydown.tab="open = false" @keydown.enter.prevent="open = false; focusButton()" @keyup.space.prevent="open = false; focusButton()" style="display: none;">
        <div class="py-1" role="none">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700" x-state:on="Active" x-state:off="Not Active" :class="{ 'bg-gray-100 text-gray-900': activeIndex === 0, 'text-gray-700': !(activeIndex === 0) }" role="menuitem" tabindex="-1" id="menu-item-0" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 0)" @mouseleave="onMouseLeave($event)" @click="open = false; focusButton()">Account settings</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700" :class="{ 'bg-gray-100 text-gray-900': activeIndex === 1, 'text-gray-700': !(activeIndex === 1) }" role="menuitem" tabindex="-1" id="menu-item-1" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 1)" @mouseleave="onMouseLeave($event)" @click="open = false; focusButton()">Support</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700" :class="{ 'bg-gray-100 text-gray-900': activeIndex === 2, 'text-gray-700': !(activeIndex === 2) }" role="menuitem" tabindex="-1" id="menu-item-2" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 2)" @mouseleave="onMouseLeave($event)" @click="open = false; focusButton()">License</a>
          <form method="POST" action="#" role="none">
            <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" :class="{ 'bg-gray-100 text-gray-900': activeIndex === 3, 'text-gray-700': !(activeIndex === 3) }" role="menuitem" tabindex="-1" id="menu-item-3" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 3)" @mouseleave="onMouseLeave($event)" @click="open = false; focusButton()">Sign out</button>
          </form>
        </div>
      </div>
*/

/* CHUCK BAR */
.chuck-button
{
    @apply px-1 mr-2 disabled:opacity-50 focus:outline-none enabled:hover:filter enabled:hover:invert-20 enabled:hover:drop-shadow-lg transition duration-300;
}


/* COMPONENTS */
.divider,
.divider-vert {
  display: block;
  position: relative;
}

.divider[data-content]::after,
.divider-vert[data-content]::after {
  background: #fff;
  color: #bcc3ce;
  content: attr(data-content);
  display: inline-block;
  font-size: .7rem;
  padding: 0 .4rem;
  transform: translateY(-.65rem);
}

.divider {
  border-top: .06rem solid #e1e3e5;
  height: .05rem;
  margin: .4rem 0;
}

.divider[data-content] {
  margin: .8rem 0;
}
