@media screen and (max-device-width: 768px) {
    body,
    html {
        font-size: 6pt;
        grid-template-rows: 1fr fit-content(50vh) minmax(0, 90vh) !important;
    }

    main {
        flex-direction: column;
        gap: 0.5em;
    }

    section {
        font-size: 8pt;
    }

    #mixer {
        display: none;
        flex-basis: 40% !important;
    }
}

@media screen and (min-device-width: 1441px) {
    section {
        display: flex;
        justify-content: center;

        & > div {
            max-width: 1200px;
        }
    }
}

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background: #def;
    display: grid;
    gap: 2em;
    grid-template-rows: 1fr fit-content(50vh) minmax(0, 90vh);
}

button {
    align-items: center;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 1em;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background: var(--accent-color);
    color: black;
}

header {
    align-items: center;
    display: flex;
    gap: 2em;
    padding: 0 2em;
}

input[type="range"] {
    appearance: none;
    background: transparent;
    height: 10em;
    transform: rotateZ(270deg);
    width: 10em;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    background: white;
    cursor: grab;
    height: 1em;
    width: 1em;
}

input[type="range"]::-ms-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-ms-thumb:hover {
    background: #aaa;
}

input[type="range"]::-ms-track {
    background: transparent;
    cursor: grab;
    outline: 1px solid #ccc;
    width: 100%;
}

input[type="range"]::-ms-track:active {
    cursor: grabbing;
}

input[type="range"]::-ms-track:hover {
    background: #ccc;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    background: white;
    cursor: grab;
    height: 1em;
    width: 1em;
}

input[type="range"]::-moz-range-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #aaa;
}

input[type="range"]::-moz-range-track {
    cursor: grab;
    outline: 1px solid #ccc;
}

input[type="range"]::-moz-range-track:active {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track:hover {
    background: #ccc;
}

input[type="range"]::-webkit-slider-runnable-track {
    cursor: grab;
    outline: 1px solid #ccc;
}

input[type="range"]::-webkit-slider-runnable-track:active {
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
    background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: white;
    cursor: grab;
    height: 1em;
    width: 1em;
}

input[type="range"]::-webkit-slider-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #aaa;
}

main {
    display: flex;
    overflow: hidden;
}

p {
    margin-top: 0;
}

section {
    padding: 0 4em;
    overflow-y: scroll;
}

/* noinspection CssUnusedSymbol */
.slider-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5em;
}

#editor {
    height: 100%;
    width: 100%;
}

#editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
}

#mixer {
    align-items: center;
    background: var(--accent-color);
    display: none;
    flex-basis: 20%;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5em;
}
